@{
    ViewData["Title"] = "Details";
}

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Players
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ul>
                    <li>
                        <div>
                            Player 1
                        </div>
                        <a class="btn btn-primary btn-icon-split btn-sm" href="#">
                            <span class="icon text-white-50">
                                <i class="fas fa-sticky-note"></i>
                            </span>
                            <span class="text">Create Note</span>
                        </a>
                    </li>
                    <li>
                        <div>
                            Player 2
                        </div>
                        <a class="btn btn-primary btn-icon-split btn-sm" href="#">
                            <span class="icon text-white-50">
                                <i class="fas fa-sticky-note"></i>
                            </span>
                            <span class="text">Create Note</span>
                        </a>
                    </li>
                    <li>
                        <div>
                            Player 3
                        </div>
                        <a class="btn btn-primary btn-icon-split btn-sm" href="#">
                            <span class="icon text-white-50">
                                <i class="fas fa-sticky-note"></i>
                            </span>
                            <span class="text">Create Note</span>
                        </a>
                    </li>
                    <li>
                        <div>
                            Player 4
                        </div>
                        <a class="btn btn-primary btn-icon-split btn-sm" href="#">
                            <span class="icon text-white-50">
                                <i class="fas fa-sticky-note"></i>
                            </span>
                            <span class="text">Create Note</span>
                        </a>
                    </li>
                    <li>
                        <div>
                            Player 5
                        </div>
                        <a class="btn btn-primary btn-icon-split btn-sm" href="#">
                            <span class="icon text-white-50">
                                <i class="fas fa-sticky-note"></i>
                            </span>
                            <span class="text">Create Note</span>
                        </a>
                    </li>
                    <li>
                        <div>
                            Player 6
                        </div>
                        <a class="btn btn-primary btn-icon-split btn-sm" href="#">
                            <span class="icon text-white-50">
                                <i class="fas fa-sticky-note"></i>
                            </span>
                            <span class="text">Create Note</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Round: Preflop
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Player 1 folds</li>
                        <li>Player 2 folds</li>
                        <li>Player 3 folds</li>
                        <li>Player 4 folds</li>
                        <li>Player 5 bets $0.10</li>
                        <li>Player 6 raises from $0.10 to $0.40</li>
                        <li>Player 5 calls</li>
                    </ul>
                    <a class="btn btn-primary btn-icon-split btn-primary" href="#">
                        <span class="icon text-white-50">
                            <i class="fas fa-sticky-note"></i>
                        </span>
                        <span class="text">Create Note</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Round: Flop
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Player 5 bets $0.10</li>
                        <li>Player 6 calls</li>
                    </ul>
                    <a class="btn btn-primary btn-icon-split btn-primary" href="#">
                        <span class="icon text-white-50">
                            <i class="fas fa-sticky-note"></i>
                        </span>
                        <span class="text">Create Note</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Round: Turn
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Player 5 bets $0.10</li>
                        <li>Player 6 calls</li>
                    </ul>
                    <a class="btn btn-primary btn-icon-split btn-primary" href="#">
                        <span class="icon text-white-50">
                            <i class="fas fa-sticky-note"></i>
                        </span>
                        <span class="text">Create Note</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Round: River
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Player 5 bets $0.10</li>
                        <li>Player 6 calls</li>
                    </ul>
                    <a class="btn btn-primary btn-icon-split btn-primary" href="#">
                        <span class="icon text-white-50">
                            <i class="fas fa-sticky-note"></i>
                        </span>
                        <span class="text">Create Note</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>