<h1>Import Hand History Files</h1>


<div>
    <h3>
        Select Fields To Export
    </h3>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">
            Player Name
        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck2">
        <label class="custom-control-label" for="customCheck2">
            Hands Played

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck3">
        <label class="custom-control-label" for="customCheck3">
            $ Won - Total

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck4">
        <label class="custom-control-label" for="customCheck4">
            $ Won - Average

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck5">
        <label class="custom-control-label" for="customCheck5">
            BB Won - Total

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck6">
        <label class="custom-control-label" for="customCheck6">
            BB Won - Average

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck7">
        <label class="custom-control-label" for="customCheck7">
            VPIP

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck8">
        <label class="custom-control-label" for="customCheck8">
            PFR

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck9">
        <label class="custom-control-label" for="customCheck9">
            3B

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck10">
        <label class="custom-control-label" for="customCheck10">
            4B

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck11">
        <label class="custom-control-label" for="customCheck11">
            AF

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck12">
        <label class="custom-control-label" for="customCheck12">
            CB

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck13">
        <label class="custom-control-label" for="customCheck13">
            Hand Notes

        </label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck14">
        <label class="custom-control-label" for="customCheck14">
            Player Notes

        </label>
    </div>
    </div>
<div>
    <h3>
        Choose Range:
    </h3>
    <div class="fa-calendar">
        <label class="custom-range" for="customCheck15">
            From Date
        </label>
        <input type="date" class="fa-calendar-day" id="customCheck15">
        <label class="custom-range" for="customCheck16">
            To Date
        </label>
        <input type="date" class="fa-calendar-day" id="customCheck16">
    </div>
    <div class="col-lg-6">


        <div>
            <h6>By Stake</h6>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">$1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">$2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">$3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                <label class="form-check-label" for="inlineCheckbox4">$4</label>
            </div>
        </div>
        <div>
            <label class="form-text" for="byHand">
                By Hand
            </label>
            <input type="text" class="fa-layers-text" id="byHand">
        </div>
        <div>
            <label class="form-text" for="inlineCheckbox6">By Client</label>
            <select class="custom-select" id="inlineCheckbox6">
                <option>PokerStarts</option>
                <option>Bet365</option>
            </select>
        </div>
        <div>
            <label class="form-text" for="inlineCheckbox7">By Player</label>
            <select class="custom-select" id="inlineCheckbox7">
                <option>Pesho</option>
                <option>Gosho</option>
            </select>
        </div>
        <div>
            <label class="form-text" for="inlineCheckbox8">By Table</label>
            <select class="custom-select" id="inlineCheckbox8">
                    <option>Table 1</option>
                    <option>Table 2</option>
                </select>
        </div>
    </div>