<h1>Import Hand History Files</h1>

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100" method="post" enctype="multipart/form-data" asp-controller="HandHistory" asp-action="Import">
    <div class="input-group">
        <input type="file" name="file" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-file-import">Import Hand History</i>
            </button>
        </div>
    </div>
</form>
