<!-- DataTales Example -->
<!-- Area Chart -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
        </div>
        <hr>
        Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Players</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Player Name
                        </th>
                        <th>
                            Hands Played
                        </th>
                        <th>
                            $ Won (T / A)
                        </th>
                        <th>
                            BB Won (T / A)
                        </th>
                        <th>
                            VPIP
                        </th>
                        <th>
                            PFR
                        </th>
                        <th>
                            3B
                        </th>
                        <th>
                            4B
                        </th>
                        <th>
                            AF
                        </th>
                        <th>
                            CB
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Player Name
                        </th>
                        <th>
                            Hands Played
                        </th>
                        <th>
                            $ Won (T / A)
                        </th>
                        <th>
                            BB Won (T / A)
                        </th>
                        <th>
                            VPIP
                        </th>
                        <th>
                            PFR
                        </th>
                        <th>
                            3B
                        </th>
                        <th>
                            4B
                        </th>
                        <th>
                            AF
                        </th>
                        <th>
                            CB
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>100</td>
                        <td>$2 / $0.20</td>
                        <td>10 / 0.10</td>
                        <td>13</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>2</td>
                        <td>30%</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>